<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MinaProtocol Dhall Base Package Releases</title>
</head>
<body>
    <h1>MinaProtocol Dhall Base Package Releases</h1>
    <p>This is a base package for MinaProtocol Dhall Buildkite bindings which helps further more specific development for CI of other projects.</p>
    <p>Each link on the page, for example <code>1.0.0/package.dhall</code>, is an import page for version 1.0.0 which one can use in their own Dhall project by creating a new file with the following content:</p>
    <pre><code>https://s3.us-west-2.amazonaws.com/dhall.packages.minaprotocol.com/buildkite/releases/{version}/package.dhall sha256:{sha256}</code></pre>
    <h2>Releases</h2>
    <ul>
<!-- Add more releases as needed -->
    </ul>
</body>
</html>